[submodule "lib/hal"]
	path = lib/hal
	url = https://github.com/matgla/EmbeddedHAL.git
[submodule "lib/msgui"]
	path = lib/msgui
	url = https://github.com/matgla/MsGui.git
[submodule "lib/gsl/gsl"]
	path = lib/gsl/gsl
	url = https://github.com/microsoft/GSL.git
