[submodule "lib/hal"]
	path = lib/hal
	url = https://github.com/matgla/EmbeddedHAL.git
[submodule "lib/msgui"]
	path = lib/msgui
	url = https://github.com/matgla/MsGui.git
[submodule "lib/gsl/gsl"]
	path = lib/gsl/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "site/themes/kraiklyn"]
	path = site/themes/kraiklyn
	url = https://github.com/jsnjack/kraiklyn.git
[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
