menu "Platform configuration"

choice
    prompt "Architecture: "
    default ARCH_STM32F1

    config X86_64_STUB
    bool "X86_64 (emulated)"
    help
        Enable support for X86_64 compilation, but to be executed in simulated environment.
        This is not implemented yet.

    config ARCH_STM32F1
    bool "STM32F1xx"
    help
        Enable support for ST STM32F1xx family.

endchoice

choice

    prompt "Board Selection: "

    config STM32_Black_Pill
        bool "STM32_Black_Pill"
        depends on ARCH_STM32F1
    config NUCLEO-F103RB
        bool "NUCLEO-F103RB"
        depends on ARCH_STM32F1
endchoice

if STM32_Black_Pill

source "boards/Stm32_Black_Pill/KConfig"

endif

endmenu
