name: CI

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install dependencies
      run: |
        curl -s https://api.github.com/repos/gohugoio/hugo/releases/latest \
           | grep  browser_download_url \
           | grep Linux-64bit.deb \
           | grep -v extended \
           | cut -d '"' -f 4 \
           | wget -i -
         sudo dpkg -i hugo*_Linux-64bit.deb
    - name: Checkout
      uses: actions/checkout@v1
    - name: Fetch submodules
      run: |
         git submodule update --init
    - name: Generate website
      run: |
        make page 
    - name: Publish page to gh-pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_PRIVATE_TOKEN }}
        BRANCH: gh-pages
        FOLDER: site/public
    - name: Install Sphinx 
      run: |
        pip install sphinx
    - name: Generate documentation 
      run: | 
        make docs
    - name: Publish docs to gh-pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_PRIVATE_TOKEN }}
        BRANCH: gh-pages
        FOLDER docs/build
        TARGET_FOLDER: docs

